<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Main">
            <directory suffix="Test.php">./Test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>./registration.php</file>
            <directory>./Api/</directory>
            <directory>./Block/</directory>
            <directory>./Console/</directory>
            <directory>./Controller/</directory>
            <directory>./Helper/</directory>
            <directory>./Model/</directory>
            <directory>./Observer/</directory>
            <directory>./Setup/</directory>
            <directory>./view/</directory>
            <directory>./etc/</directory>
        </whitelist>
    </filter>
</phpunit>
