<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <springbot>
            <configuration>
                <segment_size>10</segment_size>
                <remote_update>0</remote_update>
                <show_notifications>1</show_notifications>
                <email_selector>billing:email,login-email,newsletter</email_selector>
                <api_url>http://localhost:8080</api_url>
                <assets_domain>d2z0bn1jv8xwtk.cloudflare.com</assets_domain>
            </configuration>
            <images>
                <use_cached_images>0</use_cached_images>
            </images>
            <debug>
                <log_http>0</log_http>
                <log_level>info</log_level>
                <log_format>default</log_format>
                <expire_time_days>10</expire_time_days>
                <filesize_limit>10000000</filesize_limit>
            </debug>
            <advanced>
                <harvester_type>prattler</harvester_type>
                <nohup>0</nohup>
                <nice>0</nice>
                <worker_count>2</worker_count>
                <sleep_interval>1</sleep_interval>
                <extended_config>1</extended_config>
                <product_url_type>default</product_url_type>
                <send_inventory>0</send_inventory>
                <max_job_time>60</max_job_time>
            </advanced>
            <cart_restore>
                <do_restore>1</do_restore>
                <retain_coupon>1</retain_coupon>
            </cart_restore>
        </springbot>
    </default>
</config>
