<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="controller_action_predispatch_checkout_cart_index">
    <observer name="cart_reconstitution" instance="Springbot\Main\Observer\CartReconstitutionObserver"/>
  </event>
  <event name="checkout_submit_all_after">
    <observer name="sb_checkout_submit_all_after" instance="Springbot\Main\Observer\CheckoutSubmitAllAfterObserver"/>
  </event>
  <event name="sales_order_save_after">
    <observer name="sb_sales_order_save_after" instance="Springbot\Main\Observer\OrderSaveAfterObserver"/>
  </event>
  <event name="catalog_product_save_after">
    <observer name="springbot_main_catalog_product_save_after" instance="Springbot\Main\Observer\ProductSaveAfterObserver"/>
  </event>
  <event name="catalog_product_delete_before">
    <observer name="springbot_main_catalog_product_delete_before" instance="Springbot\Main\Observer\ProductDeleteBeforeObserver"/>
  </event>
  <event name="catalog_category_save_after">
    <observer name="springbot_main_catalog_category_save_after" instance="Springbot\Main\Observer\CategorySaveAfterObserver"/>
  </event>
  <event name="catalog_category_delete_before">
    <observer name="springbot_main_catalog_category_delete_before" instance="Springbot\Main\Observer\CategoryDeleteBeforeObserver"/>
  </event>
  <event name="customer_save_after">
    <observer name="springbot_main_customer_save_after" instance="Springbot\Main\Observer\CustomerSaveAfterObserver"/>
  </event>
  <event name="customer_delete_after">
    <observer name="springbot_main_customer_delete_after" instance="Springbot\Main\Observer\CustomerDeleteAfterObserver"/>
  </event>
  <event name="newsletter_subscriber_save_after">
    <observer name="springbot_main_newsletter_subscriber_save_after" instance="Springbot\Main\Observer\SubscriberSaveAfterObserver"/>
  </event>
  <event name="eav_entity_attribute_set_save_after">
    <observer name="springbot_main_eav_entity_attribute_save_commit_after" instance="Springbot\Main\Observer\AttributeSetSaveAfterObserver"/>
  </event>
  <event name="sales_quote_save_after">
    <observer name="springbot_main_checkout_cart_save_after" instance="Springbot\Main\Observer\CartSaveAfterObserver"/>
  </event>
  <event name="salesrule_rule_save_after">
    <observer name="springbot_main_salesrule_rule_save_after" instance="Springbot\Main\Observer\RuleSaveAfterObserver"/>
  </event>
  <event name="salesrule_rule_delete_after">
    <observer name="springbot_main_salesrule_rule_delete_after" instance="Springbot\Main\Observer\RuleDeleteAfterObserver"/>
  </event>
</config>
