<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Springbot.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="cartReconstitution" instance="Springbot\Main\Observer\cartReconstitutionObserver" />
    </event>
</config>
