<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
    <route id="springbot_update" frontName="springbot_update">
      <module name="Springbot_Main"/>
    </route>
    <route id="springbot_createcart" frontName="springbot">
      <module name="Springbot_Main"/>
    </route>
  </router>
</config>
