<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="springbot_queue_catalog_product_save_after" instance="Springbot\Queue\Observer\ProductSaveObserver"/>
    </event>
    <event name="catalog_product_delete_after">
        <observer name="springbot_queue_catalog_product_delete_after" instance="Springbot\Queue\Observer\ProductDeleteObserver"/>
    </event>
    <event name="catalog_category_save_after">
        <observer name="springbot_queue_catalog_category_save_after" instance="Springbot\Queue\Observer\CategorySaveObserver"/>
    </event>
    <event name="catalog_category_delete_after">
        <observer name="springbot_queue_catalog_category_delete_after" instance="Springbot\Queue\Observer\CategoryDeleteObserver"/>
    </event>
</config>
